@import "reset";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
// font-family: 'Dancing Script', cursive;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
// font-family: 'DM Serif Text', serif;
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
// font-family: 'Old Standard TT', serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
// font-family: 'Playfair Display', serif;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');
// font-family: 'Dosis', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap');
// font-family: 'Gayathri', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');
// font-family: 'IBM Plex Sans', sans-serif;



$black: #040505;
$blue: #D2E2EE;
$ohra: #F8C3A1;
$green: #264A51;


header{
	background-size: cover;
	background-position: center top;
	nav{
		padding: 20px;
		max-width: 1240px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 110px;
		.logo{
			span{
				font-family: 'Dancing Script', cursive;
				font-weight: 700;
				font-size: 30px;
				line-height: 152.5%;
				letter-spacing: 0.045em;
				color: $black;
				white-space: nowrap;
			}
		}
		ul{
			display: flex;
			align-items: center;
			width: 70%;
			justify-content: space-between;
			a{
				font-family: 'Open Sans', sans-serif;
				font-weight: 700;
				font-size: 20px;
				line-height: 23px;
				letter-spacing: 0.045em;
				color: $black;
			}
		}
	}
	.header-main{
		flex-flow: row;
		display: flex;
		justify-content: space-between;
		height: 770px;
		.left{
			width: 49%;
			height: 100%;
			background: url('/img/header/right.png') no-repeat;
			background-size: cover;
		}
		
		.right{
			width: 49%;
			height: 100%;
			flex-flow: row;
			display: flex;
			.text{
				background: #D2E2EE;
				padding: 120px 70px;
				p{
					width: 400px;
					font-family: 'Gayathri', sans-serif;
					font-weight: 400;
					font-size: 27px;
					line-height: 41px;
					color: #000000;
				}
			}
			.small{
				background: url('/img/header/small.png') no-repeat;
				background-size: cover;
				height: 100%;
				width: 100%;
			}
		}
	}
}

main{
	background: #D2E2EE;
	margin: 30px 0;
	padding: 15px 0;
	flex-flow: row;
	display: flex;
	justify-content: space-between;
	.block{
		padding: 30px 0;
		flex-flow: column;
		display: flex;
		gap: 20px;
		width: 70%;
		align-items: center;
		justify-content: center;
		h2{
			font-family: 'IBM Plex Sans', sans-serif;
			font-weight: 400;
			font-size: 46px;
			line-height: 133.5%;
			letter-spacing: 0.045em;
			color: #272D60;
		}
		p{
			font-family: 'IBM Plex Sans', sans-serif;
			font-weight: 400;
			font-size: 24px;
			line-height: 172.68%;
			letter-spacing: 0.045em;
			color: #464571;
		}
		.email{
			position: relative;
			.emailText{
				font-family: 'IBM Plex Sans', sans-serif;
				color: black;
				font-weight: 400;
				font-size: 20px;
				line-height: 172.68%;
				letter-spacing: 0.045em;
				padding: 18px 40px;
				width: 520px;
				border-radius: 50px;
			}
			::placeholder {
				font-family: 'IBM Plex Sans', sans-serif;
				font-weight: 400;
				font-size: 20px;
				line-height: 172.68%;
				letter-spacing: 0.045em;
				color: rgba(69, 94, 101, 0.47);
			}
			.submit{
				position: absolute;
				top: 0;
				right: 0;
				height: 72px;
				background: #AE9DC3;
				box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
				border-radius: 50px;
				font-family: 'IBM Plex Sans', sans-serif;
				font-weight: 500;
				font-size: 24px;
				line-height: 172.68%;
				letter-spacing: 0.045em;
				color: #FFFFFF;
				padding: 15px 25px;
			}
		}
	}
}

footer{
	padding: 120px 0 0 0;
	background: #FFFFFF;
	display: flex;
	flex-flow: column;
	gap: 90px;
	align-items: center;
	.info{
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-flow: row;
		align-items: start;
		justify-content: space-around;
		.block{
			width: 280px;
			display: flex;
			flex-flow: column;
			align-items: start;
			gap: 30px;
			h3{
				font-family: 'Dosis';
				font-weight: 700;
				font-size: 25px;
				line-height: 82px;
				letter-spacing: 0.05em;
				color: $green;
			}
			.links, .p{
				display: flex;
				flex-flow: column;
				gap: 10px;
			}
			p, a{
				font-family: 'Open Sans';
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 0.03em;
				color: #335E74;
			}
			.icons{
				flex-flow: row;
				display: flex;
				align-items: center;
				gap: 15px;
				.circle{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					border: 1px solid #F6FDFF;
					border-radius: 50%;
				}
			}
			.time{
				width: 100%;
				background: #D3E2EF;
				border-radius: 7px;
				padding: 25px 30px;
				display: flex;
				flex-flow: column;
				gap: 13px;
				.line{
					display: flex;
					align-items: center;
					gap: 10px;
					span{
						font-family: 'Open Sans';
						font-weight: 600;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: 0.03em;
						color: #335E74;
					}
					p{
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 24px;
						letter-spacing: 0.03em;
						color: #264A51;
					}
				}
			}
		}
	}
	.rights{
		width: 100%;
		padding: 20px 0;
		background: #D3E2EF;
		display: flex;
		align-items: center;
		justify-content: center;
		.block-text{
			display: flex;
			flex-flow: row;
			align-items: center;
			gap: 10px;
			p{
				font-family: 'Open Sans';
				font-weight: 400;
				font-size: 10px;
				letter-spacing: 0.045em;
				color: #335E74;
			}
		}
	}
}